

<mat-toolbar>

  <div class="wrap">

    <div class="toolbar-title">
      <span>Ptomic</span>
    </div>

    <div class="toolbar-icon">
      <button mat-icon-button>
        <mat-icon matBadge="5" matBadgeSize="medium">notifications</mat-icon>
      </button>
    </div>
    <div class="toolbar-icon">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </div>

    <mat-menu #menu="matMenu" xPosition="before" yPosition="below">
      <button mat-menu-item>
        <span>Button</span>
      </button>
      <button mat-menu-item disabled>
        <span>Disabled</span>
      </button>
    </mat-menu>

  </div>

</mat-toolbar>
 